*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transition: 0.3s;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:25rem;
    height: 6rem;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    outline: 0;
    color: white;
    cursor: pointer;
    background-color: rgb(199, 56, 56);
    font-size: 16px;
}

#btn:active{
    background-color:rgb(37, 5, 5);
}

